-- MariaDB dump 10.19  Distrib 10.4.24-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: chatme
-- ------------------------------------------------------
-- Server version	10.4.24-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `file`
--

DROP TABLE IF EXISTS `file`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `file` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `filetype` enum('image','video','Gif','document') DEFAULT NULL,
  `file` blob DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `file`
--

LOCK TABLES `file` WRITE;
/*!40000 ALTER TABLE `file` DISABLE KEYS */;
/*!40000 ALTER TABLE `file` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `groupe`
--

DROP TABLE IF EXISTS `groupe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `groupe` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `sujet` varchar(100) DEFAULT NULL,
  `id_proprietaire` int(11) DEFAULT NULL,
  `date_creation` date NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_owner` (`id_proprietaire`),
  CONSTRAINT `fk_owner` FOREIGN KEY (`id_proprietaire`) REFERENCES `utilisateur` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `groupe`
--

LOCK TABLES `groupe` WRITE;
/*!40000 ALTER TABLE `groupe` DISABLE KEYS */;
/*!40000 ALTER TABLE `groupe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `groupe_membre`
--

DROP TABLE IF EXISTS `groupe_membre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `groupe_membre` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_group` int(11) DEFAULT NULL,
  `id_membre` int(11) DEFAULT NULL,
  `type_membre` enum('admin','membre_simple') DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_group` (`id_group`),
  KEY `fk_member` (`id_membre`),
  CONSTRAINT `fk_group` FOREIGN KEY (`id_group`) REFERENCES `groupe` (`id`),
  CONSTRAINT `fk_member` FOREIGN KEY (`id_membre`) REFERENCES `utilisateur` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `groupe_membre`
--

LOCK TABLES `groupe_membre` WRITE;
/*!40000 ALTER TABLE `groupe_membre` DISABLE KEYS */;
/*!40000 ALTER TABLE `groupe_membre` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `listediffusion`
--

DROP TABLE IF EXISTS `listediffusion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `listediffusion` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_proprietaire` int(11) DEFAULT NULL,
  `date_creation` date NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_ownerl` (`id_proprietaire`),
  CONSTRAINT `fk_ownerl` FOREIGN KEY (`id_proprietaire`) REFERENCES `utilisateur` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `listediffusion`
--

LOCK TABLES `listediffusion` WRITE;
/*!40000 ALTER TABLE `listediffusion` DISABLE KEYS */;
/*!40000 ALTER TABLE `listediffusion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `listediffusion_membre`
--

DROP TABLE IF EXISTS `listediffusion_membre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `listediffusion_membre` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_liste` int(11) DEFAULT NULL,
  `id_membre` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_liste` (`id_liste`),
  KEY `fk_member_l` (`id_membre`),
  CONSTRAINT `fk_liste` FOREIGN KEY (`id_liste`) REFERENCES `listediffusion` (`id`),
  CONSTRAINT `fk_member_l` FOREIGN KEY (`id_membre`) REFERENCES `utilisateur` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `listediffusion_membre`
--

LOCK TABLES `listediffusion_membre` WRITE;
/*!40000 ALTER TABLE `listediffusion_membre` DISABLE KEYS */;
/*!40000 ALTER TABLE `listediffusion_membre` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `message`
--

DROP TABLE IF EXISTS `message`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `message` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_destinateur` int(11) NOT NULL,
  `id_destinataire` int(11) DEFAULT NULL,
  `id_group` int(11) DEFAULT NULL,
  `id_listediffusion` int(11) DEFAULT NULL,
  `date_envoie` datetime NOT NULL,
  `etat` enum('envoy├®','d├®livr├®') DEFAULT NULL,
  `contenu` text DEFAULT NULL,
  `filetype` enum('image','video','Gif','document') DEFAULT NULL,
  `id_file` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_sender` (`id_destinateur`),
  KEY `fk_dest` (`id_destinataire`),
  KEY `fk_group_mg` (`id_group`),
  KEY `fk_list` (`id_listediffusion`),
  KEY `fk_file` (`id_file`),
  CONSTRAINT `fk_dest` FOREIGN KEY (`id_destinataire`) REFERENCES `utilisateur` (`id`),
  CONSTRAINT `fk_file` FOREIGN KEY (`id_file`) REFERENCES `file` (`id`),
  CONSTRAINT `fk_group_mg` FOREIGN KEY (`id_group`) REFERENCES `groupe` (`id`),
  CONSTRAINT `fk_list` FOREIGN KEY (`id_listediffusion`) REFERENCES `listediffusion` (`id`),
  CONSTRAINT `fk_sender` FOREIGN KEY (`id_destinateur`) REFERENCES `utilisateur` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `message`
--

LOCK TABLES `message` WRITE;
/*!40000 ALTER TABLE `message` DISABLE KEYS */;
/*!40000 ALTER TABLE `message` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateur`
--

DROP TABLE IF EXISTS `utilisateur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `utilisateur` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(30) NOT NULL,
  `prenom` varchar(100) NOT NULL,
  `numero` varchar(20) NOT NULL,
  `code_country` varchar(5) NOT NULL,
  `biographie` varchar(255) DEFAULT NULL,
  `type_user` enum('destinateur','destinataire','admin') DEFAULT NULL,
  `profil_picture_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateur`
--

LOCK TABLES `utilisateur` WRITE;
/*!40000 ALTER TABLE `utilisateur` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateur` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2022-08-17 12:41:31
